.userBadge {
  display: flex;
  cursor: pointer;
}

.name {
  font-size: 19px;
  font-weight: 500;
  color: #000;
  vertical-align: bottom;
}

.placeholder {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #e6e5e5;
}

.avatar {
  vertical-align: bottom;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
}

