
@keyframes pictures-slide {
    0% { opacity: 0; }
    11.11% { opacity: 1; }
    33.33% { opacity: 1; }
    44.44% { opacity: 0; }
    100% { opacity: 0; }
}
  
.pictures-slide { 
      position:relative;
      width:70%;
 }
  .pictures-slide img { 
      position: absolute;
      width:40%;
      height: 620px;
      border: 2px solid #0f1213;
      border-radius: 5px;
      left:20rem;
      top: 50px;
      right:0;
      opacity:0;
      animation-name: pictures-slide;
      animation-duration: 17s;
      animation-iteration-count: infinite;
    }
    .pictures-slide img:nth-child(1) { animation-delay: 0s;}
    .pictures-slide img:nth-child(2) { animation-delay: 4s;}
    .pictures-slide img:nth-child(3) { animation-delay: 8s;}
    .pictures-slide img:nth-child(4) { animation-delay: 12s;}


    .user-login-block {
        width: 400px;
        height: 520px;
        font-size: 23px;
        margin: 0 50%;
        border-radius: 4px;
        background-color: rgb(191, 185, 178);
        transform: translate(50px, 100px);
    }
    
    .logo{
        font-family: 'Dancing Script', cursive;
        text-align: center;
        font-size: 30px;
        padding-top: 30px;
        margin-bottom: 25px;
    }
    .form-group input {
        width: 80%;
        color: rgb(39, 34, 34);
        padding: 15px 10px;
        border: none;
        border-radius: 2px;
        padding-left: 5px;
        margin-left: 30px;
        margin-bottom: 5px;
    }
    .btn {
        width: 80%;
        background: rgb(19, 18, 18);
        padding: 12px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 30px;
        margin-left: 39px;
    }
    
    .btn:hover {
        color: #23d5ab;
        opacity: 0.9;
    }
    
    #regist {
        text-align: center;
        font-size: 18px;
        color: #1f1f21;
        transition: 0.5s;
    }
    .in_vk p {
        text-align: center;
        padding-top: 7px;
        padding-bottom: 5px;
    }
    
    .in_vk {
        font-size: 14px;
        font-family: inherit;
        margin: auto;
        width: 200px;
        text-decoration: none;
        color: #1f1f21;
    }
    .in_vk a:hover {
        color: #535353;
    }
    .in_vk a {
        text-decoration: none;
        color: #1f1f21;
    }
    .icon_vk{
        vertical-align: text-bottom;
        margin-right: 4px;
        width: 24px;
        height: 24px;
    }
    
    .textp {
        font-size: 16px;
        width: 254px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    .app img {
        margin-top: 30px;
        margin-left: 10px;
        width: 160px;
        height: 60px;
    }
    .app img:hover {
        transition: 0.2s;
        opacity: 0.7;
    }
  


    