.registration-block {
    width: 400px;
    height: 700px;
    font-size: 23px;
    margin: auto;
    border-radius: 4px;
    background-color: rgb(191, 185, 178);
    transform: translate(0, 50px);
}

.registration-p {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    font-weight: bold;
    opacity: 0.8;
    text-align: center;
    font-size: 18px;
}

#enter {
    width: 231px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    font-size: 16px;
}
#enter a {
    text-decoration: none;
    color: #1f1f21;
    transition: 0.5s;
    margin-left: 5px;
}
#enter a:hover {
    color: #23d5ab;
    opacity: 0.9;
}

.logo{
    font-family: 'Dancing Script', cursive;
    margin-left: 55px;
    padding-top: 30px;
    margin-bottom: 25px;
}
.form-group input {
    width: 80%;
    color: rgb(39, 34, 34);
    padding: 15px 10px;
    border: none;
    border-radius: 2px;
    padding-left: 5px;
    margin-left: 30px;
    margin-bottom: 5px;
}
.btn {
    width: 80%;
    background: rgb(19, 18, 18);
    padding: 12px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 39px;
}

.btn:hover {
    color: #23d5ab;
    opacity: 0.9;
}

.in_vk {
    font-size: 14px;
    font-family: inherit;
    margin: auto;
    width: 200px;
    text-decoration: none;
    color: #1f1f21;
}
.in_vk a:hover {
    color: #535353;
}
.in_vk a {
    text-decoration: none;
    color: #1f1f21;
}
.icon_vk{
    vertical-align: text-bottom;
    margin-right: 4px;
    width: 24px;
    height: 24px;
}

.textp {
    font-size: 16px;
    width: 254px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.app img {
    margin-top: 30px;
    margin-left: 20px;
    width: 160px;
    height: 60px;
}
.app img:hover {
    transition: 0.2s;
    opacity: 0.7;
}